@import "tailwindcss";

@plugin "@iconify/tailwind4";

html{
      scroll-behavior: smooth;
}

.no-scroll {
      overflow: hidden;
}

.animate-left,
.animate-right,
.animate-top,
.animate-bottom {
      opacity: 0;
}



.card{
      @apply flex flex-col justify-center items-center border-4 border-purple-400 p-2 bg-blue-950 md:h-40 md:w-40 rounded-lg shadow-md shadow-teal-200;
}



.card .time{
      @apply md:text-7xl text-4xl text-white font-semibold;
}

.card .label{
      @apply md:text-2xl text-sm text-teal-500 font-medium;
}

.card2 {
      @apply flex flex-col justify-center items-center border-4 border-purple-400 px-3 py-4 bg-blue-950 md:w-70 md:h-full h-80 rounded-lg shadow-md shadow-teal-200 gap-2;
      
}

.card2 span {
      @apply w-15 h-15 text-teal-400;
}
.card2 .label2{
      @apply md:text-xl text-lg text-gray-200 font-medium;
      font-size: 23px;
}
.card2 .label3{
      @apply md:text-lg text-xl text-gray-300/70;
      
}

.card2 p.label3 {
      line-height: 1.2;
}
.card2 p.label2 {
      line-height: 1.2;
}


.card3 {
      @apply flex justify-center items-end p-4 border-4 border-white  md:w-70 shadow-md gap-2 rounded-tr-4xl rounded-bl-4xl h-80;

}
